.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -20px;
  padding: 10px;
}

.cardItem {
  position: relative;
  list-style-type: none;
  width: calc((100% - 6 * 10px) / 3);
  margin: 10px;
}

.cardItem>[class~="p-card"] {
  height: 200px;
  cursor: pointer;
}

.cardItem>[class~="p-card"]:hover {
  background-color: #e9ecef;
}

.cardItem>[class~="p-card-content"] {
  display: flex;
  align-items: center;
  flex-direction: column;
}